@charset "UTF-8";
.sn-bg-4 {
  background-image: url(..//img/menu/menu-bg2.jpg) !important; }

.movie-card img {
  width: 100%;
  height: 100%;
  object-fit: contain; }
.movie-card .card-rating {
  position: absolute;
  left: 0;
  top: 0;
  width: 60px;
  height: 30px;
  background: #eeeeee;
  text-align: center;
  line-height: 30px;
  font-size: 0.8em;
  color: #212529;
  z-index: 124; }
  .movie-card .card-rating .fa-star {
    color: #212529; }
.movie-card .card-favourite {
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  height: 30px;
  background: #eeeeee;
  text-align: center;
  line-height: 30px;
  font-size: 0.8em;
  color: #212529;
  z-index: 124; }
.movie-card .card-watch-later {
  position: absolute;
  right: 30px;
  top: 0;
  width: 30px;
  height: 30px;
  background: #eeeeee;
  text-align: center;
  line-height: 30px;
  font-size: 0.8em;
  color: #212529;
  z-index: 124; }
.movie-card .card-body {
  width: 100%;
  position: absolute;
  bottom: 0px;
  background: linear-gradient(to top, #212529 33%, rgba(33, 37, 41, 0.5)); }
  .movie-card .card-body hr {
    background-color: #eeeeee;
    height: 1px;
    border: 0; }
  .movie-card .card-body h1,
  .movie-card .card-body h2,
  .movie-card .card-body h3,
  .movie-card .card-body h4,
  .movie-card .card-body h5,
  .movie-card .card-body h6 {
    font-weight: 400; }
  .movie-card .card-body .card-title {
    color: #eeeeee; }
    .movie-card .card-body .card-title a {
      color: #eeeeee; }
    @media (max-width: 1200px) {
      .movie-card .card-body .card-title {
        font-size: 16px; } }
  .movie-card .card-body .card-text {
    color: #eeeeee;
    font-weight: 400; }
    @media (max-width: 1200px) {
      .movie-card .card-body .card-text {
        font-size: 12px; } }
.movie-card .card-footer {
  padding: 0px; }
.movie-card .md-form label {
  font-weight: 300; }

.g-logo {
  width: auto;
  height: auto;
  object-fit: cover; }

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

main {
  /* Чтобы занимал оставшееся пространство */
  flex-grow: 1; }

footer {
  /* Чтобы footer не уменьшался */
  flex-shrink: 0;
  background: black; }

.profile-card img {
  width: 100px;
  height: 100px;
  object-fit: contain; }

.profile-title {
  color: #212529; }

.friend-card img {
  width: 100px;
  height: 100px;
  object-fit: contain; }

.find-a-friend.input-group .input-group-text {
  background-color: transparent;
  border: none; }

.row.select-by {
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 0px;
  padding-left: 0px; }
  .row.select-by .sort-by {
    text-align: right; }

.btn-movies-type {
  width: 50%;
  vertical-align: middle; }
  .btn-movies-type button {
    text-align: center; }

.filter-movie.input-group .input-group-text {
  background-color: transparent;
  border: none;
  padding: 0; }

.film-table thead tr th {
  font-weight: bold; }
.film-table th tr {
  color: #007bff; }
@media only screen and (max-width: 40em) {
  .film-table {
    /* Force table to not be like tables anymore */
    /* Hide table headers (but not display: none;, for accessibility) */
        /*
Label the data
          <th>Name</th>
          <th>Date</th>
          <th>IMDB Rating</th>
          <th>Director</th>
          <th>Country</th>
          <th><div class="table-i">
            <a class=""><i class="far fa-star"></i></a>
          </div></th>
          <th><div class="table-i">
            <a class=""><i class="far fa-eye"></i></a>
          </div></th>
*/ }
    .film-table table,
    .film-table thead,
    .film-table tbody,
    .film-table th,
    .film-table td,
    .film-table tr {
      display: block; }
    .film-table thead tr {
      display: none; }
    .film-table td {
      /* Behave  like a "row" */
      border: none;
      position: relative;
      padding-left: 50%; }
    .film-table tr th {
      font-weight: bold; }
    .film-table td:before {
      /* Now like a table header */
      position: absolute;
      /* Top/left values mimic padding */
      left: 12px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap; }
    .film-table td:nth-of-type(1):before {
      content: "Date"; }
    .film-table td:nth-of-type(2):before {
      content: "IMDB Rating"; }
    .film-table td:nth-of-type(3):before {
      content: "Director"; }
    .film-table td:nth-of-type(4):before {
      content: "Country"; }
    .film-table td:nth-of-type(5):before {
      content: "Favourite"; }
    .film-table td:nth-of-type(6):before {
      content: "Watch Later"; } }

/*# sourceMappingURL=custom-styles.css.map */
