.sn-bg-4 {
    background-image: url(..//img/menu/menu-bg2.jpg) !important;
}

// Cards movies
$card-white-gray: #eeeeee !default;
$card-dark-gray: #212529 !default;
$yellow: yellow !default;

.movie-card {
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .card-rating {
        position: absolute;
        left: 0;
        top: 0;
        width: 60px;
        height: 30px;
        background: rgba($card-white-gray, 1);
        text-align: center;
        line-height: 30px;
        font-size: 0.8em;
        color: $card-dark-gray;
        z-index: 124;

        .fa-star {
            color: $card-dark-gray;
        }
    }

    .card-favourite {
        position: absolute;
        right: 0;
        top: 0;
        width: 30px;
        height: 30px;
        background: rgba($card-white-gray, 1);
        text-align: center;
        line-height: 30px;
        font-size: 0.8em;
        color: $card-dark-gray;
        z-index: 124;
    }

    .card-watch-later {
        position: absolute;
        right: 30px;
        top: 0;
        width: 30px;
        height: 30px;
        background: rgba($card-white-gray, 1);
        text-align: center;
        line-height: 30px;
        font-size: 0.8em;
        color: $card-dark-gray;
        z-index: 124;
    }

    .card-body {
        width: 100%;
        position: absolute;
        bottom: 0px;
        background: linear-gradient(to top, rgba($card-dark-gray, 1) 33%, rgba($card-dark-gray, 0.5));

        hr {
            background-color: $card-white-gray;
            height: 1px;
            border: 0;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-weight: 400;
        }

        .card-title {
            color: $card-white-gray;

            a {
                color: $card-white-gray;
            }

            @media (max-width: 1200px) {
                font-size: 16px;
            }
        }

        .card-text {
            color: $card-white-gray;
            font-weight: 400;

            @media (max-width: 1200px) {
                font-size: 12px;
            }
        }
    }

    .card-footer {
        padding: 0px;
    }

    .md-form {
        label {
            font-weight: 300;
        }
    }
}

//Login
.g-logo {
    width: auto;
    height: auto;
    object-fit: cover;
}

//Footer
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    /* Чтобы занимал оставшееся пространство */
    flex-grow: 1;
}

footer {
    /* Чтобы footer не уменьшался */
    flex-shrink: 0;
    background: black;
}

// Profile
.profile-card {
    img {
        width: 100px;
        height: 100px;
        object-fit: contain;
    }
}

.profile-title {
    color: $card-dark-gray;
}

.friend-card {
    img {
        width: 100px;
        height: 100px;
        object-fit: contain;
    }
}

//Find a friend
.find-a-friend.input-group .input-group-text {
    background-color: transparent;
    border: none;
}
//sort by filter by
.row.select-by {
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 0px;
    padding-left: 0px;
}

