@import "custom-variables";

.sn-bg-4 {
    background-image: url(..//img/menu/menu-bg2.jpg) !important;
}

.navy-blue-skin {
    background-color: #353b50;
}

// Cards movies
.movie-card {
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .card-rating {
        position: absolute;
        left: 0;
        top: 0;
        width: 60px;
        height: 30px;
        background: rgba($card-white-gray, 1);
        text-align: center;
        line-height: 30px;
        font-size: 0.8em;
        color: $card-dark-gray;
        z-index: 124;

        .fa-star {
            color: $card-dark-gray;
        }
    }

    .card-favourite {
        position: absolute;
        right: 0;
        top: 0;
        width: 30px;
        height: 30px;
        background: rgba($card-white-gray, 1);
        text-align: center;
        line-height: 30px;
        font-size: 0.8em;
        color: $card-dark-gray;
        z-index: 124;
    }

    .card-watch-later {
        position: absolute;
        right: 30px;
        top: 0;
        width: 30px;
        height: 30px;
        background: rgba($card-white-gray, 1);
        text-align: center;
        line-height: 30px;
        font-size: 0.8em;
        color: $card-dark-gray;
        z-index: 124;
    }

    .card-body {
        width: 100%;
        position: absolute;
        bottom: 0px;
        background: linear-gradient(to top, rgba($card-dark-gray, 1) 33%, rgba($card-dark-gray, 0.5));

        hr {
            background-color: $card-white-gray;
            height: 1px;
            border: 0;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-weight: 400;
        }

        .card-title {
            color: $card-white-gray;

            a {
                color: $card-white-gray;
            }

            @media (max-width: 1200px) {
                font-size: 16px;
            }
        }

        .card-text {
            color: $card-white-gray;
            font-weight: 400;

            @media (max-width: 1200px) {
                font-size: 12px;
            }
        }
    }

    .card-footer {
        padding: 0px;
    }

    .md-form {
        label {
            font-weight: 300;
        }
    }
}

//Login
.g-logo {
    width: auto;
    height: auto;
    object-fit: cover;
}

//Footer
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    /* Чтобы занимал оставшееся пространство */
    flex-grow: 1;
}

footer {
    /* Чтобы footer не уменьшался */
    flex-shrink: 0;
    background: black;
}

// Profile
.profile-card {
    img {
        width: 100px;
        height: 100px;
        object-fit: contain;
    }
}

.profile-title {
    color: $card-dark-gray;
}

.friend-card {
    img {
        width: 100px;
        height: 100px;
        object-fit: contain;
    }
}

//Find a friend
.find-a-friend.input-group .input-group-text {
    background-color: transparent;
    border: none;
}

//Sort by filter by
.row.select-by {
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 0px;
    padding-left: 0px;

    .sort-by {
        text-align: right;
    }
}

.btn-movies-type {
    width: 50%;
    vertical-align: middle;

    button {
        text-align: center;
    }
}

.filter-movie.input-group .input-group-text {
    background-color: transparent;
    border: none;
    padding: 0;
}

//Table
.film-table {
    thead tr th {
        font-weight: bold;
    }

    th {

        //text-align: center;
        .table-i {
            // color:red;
        }

        tr {
            color: #007bff;
        }
    }

    @media only screen and (max-width: 40em) {

        /* Force table to not be like tables anymore */
        table,
        thead,
        tbody,
        th,
        td,
        tr {
            display: block;
        }

        /* Hide table headers (but not display: none;, for accessibility) */
        thead tr {
            display: none;
        }

        td {
            /* Behave  like a "row" */
            border: none;
            //border-bottom: 1px solid #eee;
            position: relative;
            padding-left: 50%;
        }

        tr th {
            font-weight: bold;
        }

        td:before {
            /* Now like a table header */
            position: absolute;
            /* Top/left values mimic padding */
            left: 12px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
        }

        /*
Названия ячеечек
*/
        td:nth-of-type(1):before {
            content: "Date";
        }

        td:nth-of-type(2):before {
            content: "IMDB Rating";
        }

        td:nth-of-type(3):before {
            content: "Director";
        }

        td:nth-of-type(4):before {
            content: "Country";
        }

        td:nth-of-type(5):before {
            content: "Favourite";
        }

        td:nth-of-type(6):before {
            content: "Watch Later";
        }
    }
}

//Movie page
.movie-card-img {
    height: inherit;
    margin-top: 0;

    @media (max-width: 1200px) {
        display: none;
    }
}

//Stick to top on mobile?
@media (max-width: 600px) {

    .fixed-sn .double-nav,
    .fixed-sn main,
    .fixed-sn footer {
        //padding-top: 3rem;
    }
}

//переопределение табов
.tab-content {
    // width: 100%;
}

//Actor card
.movie-tabs {
    width: 100%;
}

//Comments
.question-card {
    .btn.btn-sm {
        padding: .1rem .6rem;
        font-size: 1rem;
    }
}

//movie.html mobile fix
// @media (max-width: 600px) {
//     .fixed-sn {
//         padding-top: 1.8rem;
//     }
// }